body{
color:white;
text-align:center;
background-image:url("../images/job_details.jpg");
background-repeat:no-repeat;
background-size:1920px 1080px;
font-family:Arial;
overflow-x:hidden;
width:100%;
}
.submit{
padding: 10px 20px;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(to bottom,rgba(198,22,200,0.9) 0%,rgba(108,40,136,0.8) 100%);
    border: 1px solid #fff;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.28);
    letter-spacing: 3px;
    cursor: pointer;

}
.submit:hover{
background-color:rgba(1,1,1,0.5);
width:110px;
height:30px;
}
div.main{
}
div.left{
position:absolute;
top:180px;
left:650px;
width:350px;
height:380px;
border:1px solid white;
background-color:rgba(0,0,0,0.5);

}
div.right{
position:absolute;
top:100px;
right:300px;
width:350px;
height:380px;
border:1px solid white;
background-color:rgba(0,0,0,0.5);

}
div.footer1{
align:center;
 position:absolute;
   bottom:0;
   width:100%;
   height:60px;   
}
.box{
    border: none;
    color: #fff;
    text-align: justify;
    outline: none;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.38);
    margin-bottom: 16px;
	height:40px;
	padding:0 15px;
	width:80%;
}

.p1{
align:center;
font-size:20px;
}
 .link{
 
color:#fff;
font-size:16px;
 
 }
  .inputWithIcon{
    position:relative;
	left:0;
  }
  
  .inputWithIcon i{
    position:absolute;

    
    padding:8px 0px;
    color:solid white;
	
 
  }
  span.icon1, span.icon2 {
    color:solid white;
    font-size: 1em;
    position: absolute;
    display: block;
    text-align: center;
	right: 3.2em;
}
span.icon1 {
    top: 5%;
}
span.icon2 {
    top: 12%;
}
.rotate{
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;

}
.rotate :hover
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);

}

   #divContainer { width: 1000px;
   position:absolute;
   left:90px;
   top:280px;
   
   
   }
    .theDiv { padding:20px 5px;
	float: left;}
  .fa{  
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
  }
   .fa-facebook-square:hover{
    color: #3b5998 !important;
   }
  .fa-twitter-square:hover{
  color:#00aced !important;
  }
  .fa-linkedin-square:hover{
  color:#0077B5 !important;
  }
  .fa-google-plus-square:hover{
  color:#d34836 !important;
  }
  
 
