body{
    padding:0px;
    margin: 0px;
}
nav{
    width: 100%;
    background:black;
}
ul{
    margin: 0px;
    color:white;

}
li{
    display: inline;
}
ul li a{
    text-decoration: none;
    font-size: 25px;
    padding: 30px;
    display: inline-block;
    
}
input{
    width:250px;
    height: 40px;
    border-radius: 15px;
    margin:40px;
}
input:focus{
    width:250px;
    height: 40px;
    border-radius: 15px;
    margin:40px;
    background: grey;
    border: goldenrod;
    box-shadow: 0px 0px 4px 3px palevioletred;
}
#signup{
    width:200px;
    padding: 10px;
    border-radius: 15px;
    margin:40px;
}
#signup:hover{
    width:200px;
    padding: 10px;
    border-radius: 15px;
    margin:40px;
    background: grey;
    border: goldenrod;
    box-shadow: 0px 0px 4px 3px palevioletred;
    display: inline;
}
p::selection{
    background: blue;
    color:white;
}