body{
    background:silver;
    padding:0px;
    margin:0 px;
    background-image: linear-gradient(to bottom, grey, brown);
}



.heading{
    color:brown;
    background: aliceblue;
}

#paragraph{
    padding: 20px;
    background: lightblue;
    font-family:'Stylish', sans-serif;
    font-style: italic;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px goldenrod;
    text-indent: 100px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 3px;

}

input[type="text"],input[type="password"]{
    height:40px;
    width:200px;
    font-size: 20px;
    display:block;
}
input[type="submit"]{
    width:100px;
    height:40px;
    font-size: 15px;
}
/* #box1{
    background:burlywood;
    padding:40px;
    border:10px dotted rosybrown;
    margin: 40px;
} */

#box1{
    border:10px solid rosybrown;
margin:20px 10px 20px 10px;
padding:20px 10px 20px 10px;
background: palevioletred;
border-radius: 10px;
box-shadow: 5px 5px 5px 8px black;




}
#inner1{
    height:500px;
    background:goldenrod;
    float:left;
    width:45%;
    border:10px solid lightblue;
    margin:20px 10px 20px 10px;
    padding:20px 10px 20px 10px;
    outline: 10px solid  gray;


}
#inner2{
    height:500px;
    background:peachpuff;
    border:10px solid lightblue;
    margin:20px 10px 20px 10px;
    padding:20px 10px 20px 10px;
    outline: 10px solid gray;




}

img{
    border:5px solid goldenrod;
    border-radius: 99%;
    width: 200px;
    height: 200px;
    margin:auto;
    display: block;
}